aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
async-timeout==5.0.1
asyncpg==0.31.0
attrs==26.1.0
backend==0.2.4.1
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
fastapi==0.136.1
frozenlist==1.8.0
googleapis-common-protos==1.74.0
grpcio==1.80.0
h11==0.16.0
httptools==0.7.1
idna==3.13
importlib_metadata==8.7.1
loader==2017.9.11
Logbook==1.9.2
multidict==6.7.1
opentelemetry-api==1.41.1
opentelemetry-exporter-otlp==1.41.1
opentelemetry-exporter-otlp-proto-common==1.41.1
opentelemetry-exporter-otlp-proto-grpc==1.41.1
opentelemetry-exporter-otlp-proto-http==1.41.1
opentelemetry-instrumentation==0.62b1
opentelemetry-instrumentation-asgi==0.62b1
opentelemetry-instrumentation-fastapi==0.62b1
opentelemetry-proto==1.41.1
opentelemetry-sdk==1.41.1
opentelemetry-semantic-conventions==0.62b1
opentelemetry-util-http==0.62b1
packaging==26.2
pendulum==3.2.0
prometheus_client==0.25.0
propcache==0.4.1
protobuf==6.33.6
pydantic==2.13.3
pydantic-settings==2.14.0
pydantic_core==2.46.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
redis==7.4.0
requests==2.33.1
six==1.17.0
soupsieve==2.8.3
starlette==1.0.0
termcc==2019.8.2
terminaltables==3.1.10
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
uvicorn==0.46.0
watchfiles==1.1.1
websockets==16.0
worker==2018.4.1
wrapt==2.1.2
yarl==1.23.0
zipp==3.23.1
sse_starlette